# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load weather_data.csv as dataframe
weather_data_df = pd.read_csv('../output_data/weather_data.csv')
weather_data_df

,City,Country,Longitude,Latitude,Date,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Max Temperature (F)
0,makakilo city,US,-158.0858,21.3469,1621136648,78.87,47,1,10.36,82.40
1,kodinsk,RU,99.1844,58.6881,1621136648,43.86,32,14,8.68,43.86
2,banda aceh,ID,95.3222,5.5577,1621136648,85.08,73,100,4.29,85.08
3,port alfred,ZA,26.8910,-33.5906,1621136649,60.66,85,97,16.20,60.66
4,matara,LK,80.5353,5.9485,1621136649,85.64,72,99,10.58,85.64
...,...,...,...,...,...,...,...,...,...,...
552,cozumel,MX,-86.9458,20.5083,1621136687,80.28,78,75,6.91,80.60
553,jieshi,CN,115.8257,22.8134,1621136855,85.46,73,4,13.31,85.46
554,kostek,RU,46.8541,43.3439,1621136855,70.70,52,57,10.54,70.70
555,srandakan,ID,110.2506,-7.9386,1621136856,85.64,66,28,13.15,85.64
556,rabo de peixe,PT,-25.5833,37.8000,1621136856,64.40,100,75,10.36,64.40

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Check data types of imported weather data
weather_data_df.dtypes

City                    object
Country                 object
Longitude              float64
Latitude               float64
Date                     int64
Temperature (F)        float64
Humidity (%)             int64
Cloudiness (%)           int64
Wind Speed (mph)       float64
Max Temperature (F)    float64
dtype: object

In [5]:
# Add latitude and longitude to locations list, add humidity to humidity, and change data types to float for 
# latitude, longitude, and humidity

locations = weather_data_df[["Latitude", "Longitude"]].astype(float)
humidity = weather_data_df["Humidity (%)"].astype(float)

In [6]:
# Confirm data types of locations are both floats
locations.dtypes

Latitude     float64
Longitude    float64
dtype: object

In [7]:
# Confirm data type of humidity is float
humidity.dtypes

dtype('float64')

In [8]:
# Create gmaps figure
fig1 = gmaps.figure()

# Create humidity heatmap layer
humidity_layer = gmaps.heatmap_layer(locations, weights = humidity)

# Add humidity heatmap layer to fig1
fig1.add_layer(humidity_layer)

# Display fig1
fig1

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
# Filter cities so that Max Temperature (F) is between 70F and 80F and Wind Speed (mph) is less than 5
vacation_destinations = weather_data_df[(weather_data_df["Max Temperature (F)"] < 80) & 
                                        (weather_data_df["Max Temperature (F)"] > 70) &
                                        (weather_data_df["Cloudiness (%)"] < 50) &
                                        (weather_data_df["Wind Speed (mph)"] < 5)]

# Drop rows with null values
vacation_destinations = vacation_destinations.dropna()

# Reset index
vacation_destinations.reset_index(drop=True, inplace=True)

In [10]:
vacation_destinations

,City,Country,Longitude,Latitude,Date,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Max Temperature (F)
0,ures,MX,-110.4000,29.4333,1621136650,74.62,36,0,1.99,79.00
1,orsk,RU,58.5668,51.2049,1621136607,71.60,49,0,1.14,71.60
2,oussouye,SN,-16.5469,12.4850,1621136683,75.20,88,20,2.30,75.20
3,puerto ayora,EC,-90.3518,-0.7393,1621136689,73.00,98,16,1.99,73.00
4,touros,BR,-35.4608,-5.1989,1621136724,73.40,94,20,4.61,73.40
5,tomatlan,MX,-105.2500,19.9333,1621136752,78.17,68,1,1.61,78.17
6,pishin,PK,66.9961,30.5803,1621136778,75.24,15,9,4.50,75.24
7,kati,ML,-8.0726,12.7441,1621136792,78.80,73,20,4.61,78.80
8,abonnema,NG,6.7931,4.7084,1621136800,75.20,94,40,3.44,75.20
9,ambilobe,MG,49.0500,-13.2000,1621136811,71.46,77,18,4.21,71.46
10,benjamin hill,MX,-111.1000,30.1667,1621136848,71.98,65,0,1.01,73.99
11,atasu,KZ,71.6433,48.6814,1621136850,70.38,33,1,4.65,70.38
12,luba,GQ,8.5547,3.4568,1621136852,77.00,94,20,3.44,77.00

In [11]:
vacation_destinations_test = vacation_destinations.head()
vacation_destinations_test

,City,Country,Longitude,Latitude,Date,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Max Temperature (F)
0,ures,MX,-110.4000,29.4333,1621136650,74.62,36,0,1.99,79.0
1,orsk,RU,58.5668,51.2049,1621136607,71.60,49,0,1.14,71.6
2,oussouye,SN,-16.5469,12.4850,1621136683,75.20,88,20,2.30,75.2
3,puerto ayora,EC,-90.3518,-0.7393,1621136689,73.00,98,16,1.99,73.0
4,touros,BR,-35.4608,-5.1989,1621136724,73.40,94,20,4.61,73.4

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
# Function to find nearest hotel to target coordinates within 5000 meters
def find_a_hotel(target_latitude, target_longitude):    
    '''
    Function to find closest hotel to target coordinates within 5000 m
    '''
    target_coordinates = f"{target_latitude}, {target_longitude}"
    target_search = "Hotel"
    target_radius = 5000
    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "key": g_key
    }
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # run a request using our params dictionary
    response = requests.get(base_url, params=params).json()
    try:
        name = response['results'][0]['name']
    except:
        name = "None"
    return name

In [13]:
# Create list to hold hotel names
hotel_names = []

# Loop through vacation_destinations dataframe
for i in vacation_destinations.index:
    
    # Retrieve latitude and longitude and store as strings
    target_latitude = f"{vacation_destinations['Latitude'][i]}"
    target_longitude = f"{vacation_destinations['Longitude'][i]}"
    
    # Use find_a_hotel function to find a hotel
    hotel_names.append(find_a_hotel(target_latitude=target_latitude, target_longitude=target_longitude))

In [14]:
# Check list of hotel names
hotel_names

['Hacienda & Eventos EL JAVIAN HOTEL',
 'Гостиница Фиеста',
 'None',
 'Hotel Solymar Galapagos',
 'Hotel Vila Gale Touros',
 'None',
 'Janan MaMa hotel',
 'None',
 'None',
 'Hotel National',
 'Hotel Benjamín Hill',
 'None',
 'None']

In [15]:
# Insert create new column of hotel names
vacation_destinations.insert(9, "Hotel Name", hotel_names)

In [16]:
# Copy vacation_destinations as hotel_df
hotel_df = vacation_destinations.copy()

# Remove hotels named "None"
hotel_df = hotel_df[hotel_df['Hotel Name'] != "None"]

# Reset index of hotel_df
hotel_df.reset_index(drop=True, inplace=True)

In [17]:
# Check hotel_df for "None" hotel names
hotel_df

,City,Country,Longitude,Latitude,Date,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name,Max Temperature (F)
0,ures,MX,-110.4000,29.4333,1621136650,74.62,36,0,1.99,Hacienda & Eventos EL JAVIAN HOTEL,79.00
1,orsk,RU,58.5668,51.2049,1621136607,71.60,49,0,1.14,Гостиница Фиеста,71.60
2,puerto ayora,EC,-90.3518,-0.7393,1621136689,73.00,98,16,1.99,Hotel Solymar Galapagos,73.00
3,touros,BR,-35.4608,-5.1989,1621136724,73.40,94,20,4.61,Hotel Vila Gale Touros,73.40
4,pishin,PK,66.9961,30.5803,1621136778,75.24,15,9,4.50,Janan MaMa hotel,75.24
5,ambilobe,MG,49.0500,-13.2000,1621136811,71.46,77,18,4.21,Hotel National,71.46
6,benjamin hill,MX,-111.1000,30.1667,1621136848,71.98,65,0,1.01,Hotel Benjamín Hill,73.99

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [19]:
# Create hotels heatmap layer
hotels_layer = gmaps.symbol_layer(locations, fill_color='rgba(0, 150, 0, 0.4)', stroke_color='rgba(0, 0, 150, 0.4)',
                                  scale=2, info_box_content=hotel_info)

# Add marker layer ontop of heat map
fig1.add_layer(hotels_layer)

# Display figure
fig1

Figure(layout=FigureLayout(height='420px'))